<h1>Add a Recipe!<h1>

    <form method="POST" action='/recipes'>
     <div>
        <lable for="name">Name of Recipe</lable>
        <input type='text' name="name"/>
        <br>
        <lable for="ingredients">Ingredients</lable>
        <input type='text' name="ingredients"/>
        <br>
        <lable for="cook_time">Cook Time</lable>
        <input type="text" name="cook_time"/>
        <br>
     </div>
        <input type="submit" value="Submit"/>
    </form>